.color-3a79ff {
  color: #3a79ff;
}

.bg-d2e1ff {
  background-color: #d2e1ff;
}

.color-primary {
  color: #fff;
}

.color-5e80ff {
  color: #5e80ff;
}

.color-adb4d2 {
  color: #adb4d2;
}

.color-3d4f9f {
  color: #3d4f9f;
}

.color-7a85ad {
  color: #7a85ad;
}

.color-8d96bd {
  color: #8d96bd;
}

.bg-4c85ff {
  background-color: #4c85ff;
}

.color-d43f3f {
  color: #d43f3f;
}

.bg-ffd7d7 {
  background-color: #ffd7d7;
}

.bg-color-primary {
  background-color: #fff;
}

.bg-fsfdff {
  background-color: #fcfdff;
}

.bg-efeff7 {
  background-color: #efeff7;
}

.bg-4d6ce1 {
  background-color: #4d6ce1;
}

.bg-f5f8ff {
  background-color: #f5f8ff;
}

.color-565f82 {
  color: #565f82;
}

.color-c7d3ff {
  color: #c7d3ff;
}

.color-a6b6da {
  color: #a6b6da;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

a {
  text-decoration: none;
}

.fw-bold {
  font-weight: bold;
}

.fw-500 {
  font-weight: 500;
}

.border-none {
  border: none;
}

.d-flex {
  display: flex;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.f-direction-row {
  flex-direction: row;
}

.f-direction-column {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.m-0 {
  margin: 0;
}

.mt-101 {
  margin-top: 101px;
}

.mt-92 {
  margin-top: 92px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-47 {
  margin-top: 47px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-33 {
  margin-top: 33px;
}

.mt-31 {
  margin-top: 31px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-15 {
  margin-top: 15px;
}

.mt--36 {
  margin-top: -36px;
}

.mt--40 {
  margin-top: -40px;
}

.mt--50 {
  margin-top: -50px;
}

.mt--265 {
  margin-top: -265px;
}

.mr-107 {
  margin-right: 107.5px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-73 {
  margin-right: 73px;
}

.mr-14 {
  margin-right: 14px;
}

.mb--80 {
  margin-bottom: -80px;
}

.ml-475 {
  margin-left: 475px;
}

.ml-132 {
  margin-left: 132px;
}

.ml-99 {
  margin-left: 99px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-76 {
  margin-left: 76px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-62 {
  margin-left: 62px;
}

.ml-44 {
  margin-left: 44px;
}

.ml-42 {
  margin-left: 42px;
}

.ml-33 {
  margin-left: 33px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-8 {
  margin-left: 8px;
}

.ml--22 {
  margin-left: -22px;
}

.ml--68 {
  margin-left: -68px;
}

.ml--100 {
  margin-left: -100px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.pt-171 {
  padding-top: 171px;
}

.pt-104 {
  padding-top: 104px;
}

.pt-66 {
  padding-top: 66px;
}

.pb-171 {
  padding-bottom: 171px;
}

.pb-104 {
  padding-bottom: 104px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pl-271 {
  padding-left: 271px;
}

.py-118 {
  padding-top: 118px;
  padding-bottom: 118px;
}

.py-93 {
  padding-top: 93px;
  padding-bottom: 93px;
}

.py-19 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.container-1 {
  width: 1206px;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.btn {
  width: 113px;
  height: 43px;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers {
  width: 900px;
  height: 29px;
  margin: 58px auto;
}

.line {
  border: 1px solid #d8e3fe;
}

.line-15 {
  width: 15px;
  height: 0;
  border: 1px solid #dae4fe;
}

.line-743 {
  width: 743px;
  border: 1px solid #d8e3fe;
}

.hero-image {
  padding-top: 91px;
  padding-bottom: 28px;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.bg-hr {
  background: right/contain no-repeat url("../images/Vector-21.png"), top/contain no-repeat url("../images/vector-22.png");
  height: 347px;
  position: relative;
  top: 223px;
}

.position-circle-1 {
  bottom: 29.8px;
}

.position-circle-2 {
  bottom: 55.8px;
}

.position-circle-3 {
  bottom: 198px;
}

.position-circle-4 {
  bottom: 274.1px;
}

.quotes {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  padding-top: 109px;
  padding-bottom: 108px;
}

.btn-1 {
  width: 130.08px;
  height: 43px;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-2 {
  height: 59px;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.btn-3 {
  height: 43px;
  border-radius: 2px;
  background: #e8ecf4;
}

.border-btn {
  border: 1px solid #d1d1e4;
  box-sizing: border-box;
}

.border-btn-1 {
  height: 43px;
  border: 1px solid #a0b4ff;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse {
  background: no-repeat url(../images/ellipse.png);
  width: 69px;
  height: 69px;
}

.bg-ellipse-white {
  background: no-repeat url(../images/Ellipse-white.png);
  background-size: cover;
  width: 152px;
  height: 152px;
}

.bg-Vector-21 {
  background: no-repeat url(../images/Vector-21.png);
  height: 347px;
  width: 100vw;
}

.w-1163 {
  width: 1163.5px;
}

.w-712 {
  width: 712px;
}

.w-502 {
  width: 502px;
}

.w-408 {
  width: 408px;
}

.w-391 {
  width: 391px;
}

.w-337 {
  width: 337px;
}

.w-279 {
  width: 279px;
}

.w-260 {
  width: 260px;
}

.w-211 {
  width: 211px;
}

.w-208 {
  width: 208px;
}

.w-195 {
  width: 195px;
}

.w-184 {
  width: 184px;
}

.w-155 {
  width: 155px;
}

.w-140 {
  width: 140px;
}

.w-113 {
  width: 113px;
}

.w-60 {
  width: 60px;
}

.bg-photo-1 {
  background: no-repeat url(../images/photo-1.png);
  width: 267px;
  height: 267px;
}

#about-us h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074f8;
}

#hero-image h2, #about-us h2, #get-started h2, #fag h2, #blog h2, #quotes h2, #plan-and-manage h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#quotes h2 {
  text-align: left;
}

#newsletter h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

#about-us h3, #blog h3, #fag h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
}

#hero-image h3, #get-started h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

#plan-and-manage h3, #blog h4, #quotes h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

#quotes p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #a4abc8;
}

#plan-and-manage p {
  width: 413px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

#newsletter, #fag p, #blog .text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

#about-us .text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
}

#hero-image .text, #get-started .text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
}

#stats .text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.text-active {
  width: 423px;
  background: #fff;
  border: 1px solid #d8e3fe;
  box-sizing: border-box;
  box-shadow: 0px 5px 50px #f3f5fa;
  padding: 41px 70px 53px 70px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676f95;
}

.text-active-none {
  width: 211.5px;
  height: 192px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  background: #f3f5fa;
  border: 1px solid #d8e3fe;
  box-sizing: border-box;
  box-shadow: 0px 5px 50px #f3f5fa;
  padding: 41px 0 53px 69px;
}

.percentage {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
}

.fag-question {
  width: 463px;
  height: 45px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #8e96b7;
}

.container {
  width: 761px;
  margin-right: auto;
  margin-left: auto;
}

#stats .container {
  width: 260px;
  margin-right: 90px;
}

.container-2 {
  width: 743px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 175px;
  padding-bottom: 175px;
}

.container-3 {
  width: 958px;
  background: #fff;
  border: 1px solid #d8e3fe;
  box-sizing: border-box;
  box-shadow: 0px 15px 50px #eff4ff;
  padding: 0 41px 0 35px;
}

.image-me {
  position: relative;
  bottom: 31px;
  left: 311.5px;
}

#newsletter .container {
  width: 888px;
  margin-right: auto;
  margin-left: auto;
}

.blue {
  color: linear-gradient(208.93deg, #6888FF 12.77%, #5E80FF 73.11%);
  width: 50%;
  height: 342px;
}

.bg-blue {
  background: linear-gradient(199.86deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.bg-blue-1 {
  background: linear-gradient(208.93deg, #6888FF 12.77%, #5E80FF 73.11%);
  height: 342px;
  width: 50%;
}

.bg-light-blue {
  background: linear-gradient(130.53deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  height: 342px;
  width: 100%;
}

footer p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #aeb8d0;
}

/*# sourceMappingURL=style.css.map */
